<template>
  <button>
    {{ parseFloat(value).toFixed(3) }}
  </button>
</template>

<script>
export default {
  data() {
    return {
      value: 0,
    };
  },
};
</script>

<style>
button {
  height: 80px;
  width: 250px;
  background-color: white;
  box-shadow: 0 0 3px 0 black;
  font-size: 60px;
}

button:focus {
  transform: scale(1.1);
  box-shadow: 0 0 5px 0 yellow;
  background-color: rgb(230, 230, 174);
}

@keyframes blinkingBackground {
  100% {
    background-color: #fbff01;
  }
}

.selected {
  animation: blinkingBackground 0.5s infinite;
  color: blue;
}
</style>