<template>
  <div id="app">
    <div v-for="(_, index) in 10" :key="'el' + index">
      <!-- Add a custom attribute (use directives) named as 'color' then  assign 'color' variable to this attribute
        as reference value. Elements will be updated when color ref value changes. Also, Input text value  should be
         ' $bgColor +$ElementName' (e.g. pink Element 1, red Element 3). (init background color should be red.)  -->
      Element {{ index + 1 }}: <input v-bind:style="{backgroundColor: bgColor}"
                                      v-bind:value="bgColor + ' Element ' + index" type="text"/>
    </div>
    <!-- active bgColor button should be disable until select another color button  -->
    <button @click="bgColor = 'red'">Red</button>
    <button @click="bgColor = 'blue'">Blue</button>
    <button @click="bgColor = 'pink'">Pink</button>
    <button @click="bgColor = 'orange'">Orange</button>
  </div>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      bgColor: "red",
      item: {
        disabled: false
      }
    };
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

input {
  margin: 0 10px 10px 10px;
}

button {
  margin: 10px;
  transform: scale(1.2);
}
</style>
