<template>
  <div id="app">
    <div class="content__wrapper">
      <div class="input__wrapper">
        <label for="phase">Phase: </label><br/>
        <input
          type="text"
          id="phase"
          v-model="testSettings.phaseValues.phase"
          @input="setNewValues"
        />
      </div>

      <div class="input__wrapper">
        <label for="frequency">Frequency: </label>
        <input
          type="text"
          id="frequency"
          v-model="testSettings.frequencyValues.frequency"
          @input="setNewValues"
        />
      </div>
      <div class="values">
        <table>
          <tr>
            <th></th>
            <th>New Value</th>
            <th>Old Value</th>
          </tr>
          <tr>
            <td style="font-weight: bold">Phase</td>
            <!--
            <td>{{ this.$store.state.testSettings.phaseValues.phase }}</td>
            -->
            <td>{{ this.testSettings.phaseValues.phase }}</td>
            <td>{{ this.oldPhase.phase }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold">Frequency</td>
            <td>{{ this.testSettings.frequencyValues.frequency }}</td>
            <td>{{ this.oldFrequency.frequency }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'App',
  data: () => ({
    testSettings: {
      phaseValues: {
        phase: 0
      },
      frequencyValues: {
        frequency: 0
      }
    },
    oldPhase: 0,
    oldFrequency: 0
  }),
  methods: {
    async setNewValues () {
      await this.$store.dispatch('setNewValues', this.testSettings)
    }
  },
  created() {
    this.$store.watch(
      (state) => {
        return this.$store.state.testSettings
      },
      (newValue, oldValue) => {
        this.oldPhase = oldValue.phaseValues
      },
      {
        deep: true
      }
    )
    this.$store.watch(
      (state) => {
        return this.$store.state.testSettings
      },
      (newValue, oldValue) => {
        this.oldFrequency = oldValue.frequencyValues
      },
      {
        deep: true
      }
    )
  }
}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.input__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}

.content__wrapper {
  border: 1px solid black;
  /*
  width: 30%; //for mobile
   */
  border-radius: 5px;
}

.values {
  padding: 10px;
}

input {
  width: 100px;
  padding: 5px;
  font-size: 20px;
  box-shadow: 0 0 2px 0 black;
  border-radius: 5px;
}

label {
  font-size: 28px;
  margin: 0 10px 0 0;
}

table,
td,
th {
  border: 1px solid black;
  padding: 10px;
  font-size: 20px;
}

table {
  width: 100%;
}

th {
  color: brown;
}
</style>
